/*
@font-face{ 
	font-family:'RockwellRegular';
	src:url('http://www.news.va/static/portal/css/rockwell-webfont.eot?0585addc7eba');
	src:url('http://www.news.va/static/portal/css/rockwell-webfont.eot?iefix') format('eot'),url('http://www.news.va/static/portal/css/rockwell-webfont.woff?71bcaaf5f476') format('woff'),url('http://www.news.va/static/portal/css/rockwell-webfont.ttf?b496cc43ae54') format('truetype'),url('http://www.news.va/static/portal/css/rockwell-webfont.svg#webfont4A6I7P1K') format('svg');
	font-weight:normal;
	font-style:normal
}
*/

@import url(https://fonts.googleapis.com/css?family=ABeeZee);
@import url(https://fonts.googleapis.com/css?family=Montserrat+Alternates);
@import url(https://fonts.googleapis.com/css?family=Snippet);
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans);
@import url(https://fonts.googleapis.com/css?family=Amaranth:400,400italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Istok+Web:400,700,400italic,700italic&subset=latin,latin-ext);
@import url(https://fonts.googleapis.com/css?family=Pacifico);
@import url(https://fonts.googleapis.com/css?family=Lobster);
@import url(https://fonts.googleapis.com/css?family=Sigmar+One);
@import url(https://fonts.googleapis.com/css?family=Luckiest+Guy);
@import 'https://fonts.googleapis.com/css?family=Fugaz+One';
@import 'https://fonts.googleapis.com/css?family=Carter+One';
@import 'https://fonts.googleapis.com/css?family=Cantora+One';
@import 'https://fonts.googleapis.com/css?family=Kite+One';
@import 'https://fonts.googleapis.com/css?family=Timmana';

body {
/*	width:80%; */
/* 	margin: auto; */
/*	font-family:Helvetica, sans-serif; */
/*  font-family: 'ABeeZee', sans-serif; */
/*  font-family: 'Montserrat Alternates', sans-serif; */
/*  font-family: 'Snippet', sans-serif; */
/*  font-family: 'Josefin Sans', sans-serif; */
/*   font-family: 'Kite One', sans-serif;  */
/*   font-family: 'Timmana', sans-serif;  */
/*  font-family: 'Cantora One', sans-serif;  */
  font-family: 'Amaranth', sans-serif;  
/*  font-family: 'Istok Web', sans-serif;  */
}

html {
    overflow-y:scroll;
}

/*** color ***/
body, div.footer, p.metadata, p.interactions, p.copyright, p.courriel, p.about, p.sitemap, p.pgp, p.validity, p.footer {
  color: #666;
}
body{ 
/* font-family:RockwellRegular; */
}
h1 { 
/*     font-family: 'Pacifico', cursive; */
/*     font-family: 'Sigmar One', cursive; */
/*     font-family: 'Luckiest Guy', cursive; */
/*     font-family: 'Fugaz One', cursive; */
/*     font-family: 'Amaranth', sans-serif; */ 
/*     font-family: 'Carter One', cursive; */
/*     font-family: 'Lobster', cursive; */
     font-family: 'Palatino Linotype';
}
h1, h2, h3, a.day {
  color: #4f4f4f;
}
a {
	color:#666;
}
footer { 
	color:#ccc;
}
footer a { 
	color:#999;
}
a:hover, a:focus, a.leaf:hover {
	color:#0f0fff;
}
a:active, a.day:hover {
	color:red;
}
/*** background-color ***/
body {
	background:#ffffff;
}
a, a.day, a:visited, a:active, a.day:hover {
	background:transparent;
}
a:hover, a:focus, a.leaf:hover {
	background:#efefff;
}
h1, h2, div.footer, p.metadata, p.interactions, p.copyright, p.courriel, p.about, p.sitemap, p.pgp, p.validity, p.footer {
	background:#ffffff;
}
/*** border-color ***/
h1, h2 {
	border-color:#ffffff;
}

/*** anchors ***/
a img {
	border:	none;
}
a.leaf, a.day {
	text-decoration:none;
}
a:hover, a:focus, a.leaf:hover, a:active, a.day:hover {
	text-decoration:none;
}
html { 
       background-image: url("/~noji/figures/bg_nscl.png");
       background-repeat: repeat;
       background-color:#d9d9d9;
}
body { 
       background-color:#fff;
       width:940px;
       padding-left:0px;
       padding-right:0px;
       display:block;
       padding-top: 0;
       padding-bottom: 0;
       margin-left:auto;
       margin-right:auto
}
body { 
       box-shadow:0 0 9px 1px rgba(0,0,0,.2);
       moz-box-shadow:0 0 9px 1px -moz-rgba(0,0,0,.2);
       webkit-box-shadow:0 0 9px 1px rgba(0,0,0,.2);zoom:100%;
}
header { 
         padding-left: 0;
         padding-top:  1em;
}
footer, nav {
	background:#3d3d3d none;
	background:-webkit-gradient(linear,left top,left bottom,from(#585858),to(#383838));
	background:-moz-linear-gradient(top,#585858,#383838);
	filter:progid:DXImageTransform.Microsoft.gradient(endcolorstr=#FF383838,startcolorstr=#FF585858));
	background:-ms-linear-gradient(top,#585858,#383838);
	background:-o-linear-gradient(top,#585858,#383838);
	zoom:1
}
footer { 
	margin-top:16px;
	padding: 1em;
}
nav { 
      margin-top:0px;
      height: 3ex;
      padding-top: 1ex;
      padding-bottom: 1ex;
}
/*** headings ***/
h1, h2, h3, h4, h5, h6 {
	text-align:left;
	font-weight:bold;
}
/*
h1, h2, h3 {
	line-height:130%;
	border-style:solid;
	border-width:2px 0;
	padding:.1em .1em .1em 0em;
}
*/
h1 {
	font-size:220%;
        margin:0;
        padding-left: 20px;
}
h2 {
	font-size:125%;
        margin-left: 0px;
        padding-left: 20px;
}
h3 {
	font-size:110%;
        margin-left: 0px;
        padding-left: 20px;
}
h4, h5, h6 {
	font-size:100%;
}
/*** paragraphs ***/
p {
	line-height:130%;
}
header p, section p { 
        padding-left: 3em;
}
header ol, section ol { 
        padding-left: 3em;
}
header ol li p, section ol li p { 
        padding-left: 0em;
}
p.content {
	margin:0% 0% 1% 4%;
}
p.text {
	margin:2%;
}
p.link {
/*	font-family:sans-serif; */
	margin-top:0;
	margin-bottom:0;
	padding-left:1em;
	line-height:130%;
}
p.metadata, p.interactions, p.copyright, p.courriel, p.about, p.sitemap, p.pgp, p.validity {
	margin:0;
	padding:0 0 0 1em;
}
p.sitemap {
	padding-bottom:0.5em;
}
p.pgp {
	padding-left:2em;
}
p.validity {
	padding:0.5em 0 0 1em;
}
p.footer img {
	float:right;
}
p.footer {
	padding:5px 1em 25px;
	margin-top:3em;
	border-top:1px dotted black;
	clear:right;
/*	font-family:sans-serif; */
}
div.header table {
	float:right;
}
div.header {
	padding:0 1em;
	margin:0 0;
	clear:right;
/*	font-family:sans-serif; */
}
/*** others ***/
acronym, abbr {
	font-style:normal;
	text-decoration:none;
	border-style:none;
}
acronym:hover, abbr:hover {
	cursor:help
}
em {
	font-style:normal;
	font-weight:bold;
	color:red;
	background:transparent;
}
strong {
	color:red;
	background:transparent;
}
body, h1 {
  line-height: 150%;
}
h1 {
  border-style:none;
  background: none;
}

/*** headings ***/
h2.description {
	text-align:left;
	background:transparent;
	border-style:solid;
	border-width:0 0 2px 0;
}
/*** ordered lists ***/
ol {
	/* list-style-type:lower-roman; */
	list-style-type:decimal;
/*	font-family:sans-serif; */
}
ul.contents, ul.msg {
	list-style-type:circle;
}
/*** anchors ***/
a {
	background:transparent;
	text-decoration:none;
}
a:visited {
	background:transparent;
}
a:hover, a:focus, a:active {
	color:red;
	background:transparent;
}
div.footer {
	padding:.1em .1em .1em 1em;
}
div.footer p {
}
address { 
}
span.modified {
	color: #999;
	background: inherit;
	font-size: small;
}

address span {
	display: block;
}


table.presence {
	width:80%;
	margin: auto;
}
table.presence td {
	width:16%;
	text-align: center;
	border: 1px solid #aaf;
	vertical-align: middle;
}
table.presence th {
	width:16%;
	text-align: center;
	border: 1px solid #66f;
	background-color: #eef;
	vertical-align: middle;
}
th.number {
	background-color: #aaf;
}
ul.validation {
	color: inherit;
	margin: 0%;
	padding-bottom: 1%;
	text-align: right;
}
#footer {
	margin:0;
	padding:0;
}
#footer {
	width:100%;
	clear:right;
}
#footer {
	border-width: 0px 0px 1px 0px;
}
/* address */
address {
	border-top: 1px dashed #000;
	border-bottom-style: none;
	border-right-style: none;
	border-left-style: none;
/*	text-align: center;*/
	padding: 1%;
	margin: 0%;
	font-style: normal;
}
ul.validation li {
	display:inline;
}
h1.global {
	border-bottom: 2px solid #666;
}
h2.global {
	border-bottom: 1px dotted #999;
}
/* external link */
/*
a[href^="http:"]:after {
	vertical-align: super;
	font-size: smaller;
	color: #ffa500;
	border: 1px solid #ffa500;
	background-color: #ffc;
	background-image: none;
	text-decoration: none;
	font-family: sans-serif;
	content: "EXT";
}
*/
/* link to PDF */
/*
a[href$="pdf"]:after {
	vertical-align: super;
	font-size: smaller;
	color: #f00;
	border: 1px solid #f00;
	background-color: white;
	background-image: none;
	text-decoration: none;
	font-family: sans-serif;
	content: "PDF";
}
*/

nav ol { 
         width: 940px;
         font-size: 100%;
         text-align: left;
         padding: 0;
         margin: 0;
         }
nav ol li { 
            float: left;
            width: 215px;
            list-style: none;
            list-item-position: inside;
         padding-left: 20px;
            }
nav ol li a { 
            color: white;
}
nav ol li:hover { 
                  font-weight: bold;
                  color: white;
                  float: left;
                  width: 215px;
                  list-style: none;
                  list-item-position: inside;
            }
section ul li p { 
                  padding-left: 0;
                  margin-left: 0;
                  }

footer img { 
            float: right;
            margin-left: 20px;
            border: none;
            background: transparent;
            }
