/* CSS Document */

body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	text-align:center;
	color: #003366;
	background-color:#B4B4B4;  /* med gray */
	line-height: 1.3em; 
}

p {
	margin-top: 5px;
	margin-bottom: 5px;
}

h2 { 
	font-size:14px;
	font-weight: bold;
}

h3 { 
	margin-bottom: 5px;
	font-size:12px;
	font-weight: bold;
}

h5 { 
	margin-bottom: 3px;
	font-size:11px;
	font-weight: bold;
}

table {
	padding:0px;
	border-width: 0;
	font-size:11px;
}

td {
	padding:0px;
	vertical-align:top;
	border-width: 0;
}

/* Home page */

td#cell {
	background-color:#000000;  
	width: 139px;
	text-align:center;
	padding-bottom:0px;
}

.homeLeftPanel {
	position:absolute;
	left: 0px;
	top: 0px;
  	width: 162px; 
	margin: 0px;
}

.homeSearchPanel {
	position:relative;
	margin: 20px 10px 0px 10px;
	text-align:left;
	color: #003366;
	background-color:#B4B4B4;  /* med gray */
	border: 1px solid #003366; 
}

.homeMain {
	position:absolute;
	left: 162px;
	top: 0px;
  	width: 603px; 
	margin: 0px;
	padding: 38px 15px 5px 0px;
	color: #B4B4B4;  /* med gray */
	background-color:#003366; /* dk blue */
}

.newsPanel {
	position:relative;
	margin: 0px 15px 0px 15px;
	width: 180px;
	text-align:left;
	color: #003366;
	background-color:#E0E0E0;  /* med gray */
	border: 1px solid black; 
}
td#newsBull {
	padding-left:5px;
}	
td#news {
	font-size: 10px;
	padding-bottom:3px;
	line-height: 1.1em; 
}	

input#search {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
}

/* Main Pages */

.leftPanel {
	position:relative;
  	width: 155px; 
	margin: 0px;
	background-color:#003366; /* dk blue */
}

.searchPanel {
	position:relative;
	margin: 20px 10px 20px 10px;
	text-align:left;
	font-size:10px;
	color: #E0E0E0;
	background-color:#003366;  /* dk blue */
	border: 1px solid #E0E0E0; 
}

.main {
	position:relative;
  	width: 618px; 
	margin: 15px;
	text-align:left;
	color: #003366;  /* dk blue */
	background-color:#E0E0E0; /* lt gray */
}

.pageHeader {
	margin-bottom:5px;
}

td#banner {
	background-color:#000000;  
	width: 108px;
	text-align:center;
}

td#bull {
	padding-left:0px;
}	
td#item {
	padding-bottom:3px;
}	
td#abstract {
	padding-bottom:3px;
	padding-left:8px;
}	
td#pdf {
	text-align:right;
	width: 50px;
/*	padding-left: 5px; */
}

.fred_header {
	position:relative;
	width: 600px;
	font-size: 12px;
	font-weight: bold;
	margin: 5px 5px 0px 5px;
	padding: 5px;
	background-color:#cccccc;
	border: 1px solid black; 
}

.fred_section {
	position:relative;
	width: 600px;
	margin: 0px 5px 10px 5px;
	padding: 5px;
	border: 1px solid black; 
	border-top-width: 0px;
}

.fred_name {
	font-size: 14px;
	font-weight: bold;
	margin: 5px;
	color: black;
}

.fred_title {
	font-size: 11px;
	font-weight: bold;
	margin: 5px;
}

.fred_subnav {
	font-size: 11px;
	margin: 5px;
	color: black;
}

.faculty_photo {
	position:relative;
	width: 125px;
	margin: 0px 5px 0px 0px;
	padding: 5px; /* this creates black border */
	text-align:center;
	background-color:#000000;
}

.subpage_nav {
	position:relative;
	width: 600px;
	margin: 0px 5px 10px 5px;
	text-align:right;
	color: black;
}

.popup {
	position:relative;
	width: 500px;
	margin: 20px;
	text-align:left;
	background-color:#E0E0E0; /* lt gray */
}

.notice {
	position:relative;
	width: 550px;
	margin-top:20px;
	padding: 10px;
	text-align:left;
	color: white;
	background-color:#003366; /* dk blue */
}

.alert {
	color : red;
}

.rightFloatingPhoto {
	position:relative;
	float:right;
	width: 200px;
	margin: 0px 5px 0px 5px;
	padding: 5px; /* this creates black border */
	font-size: 10px;
	text-align:center;
	background-color:#000000;
}

.leftFloatingPhoto {
	position:relative;
	float:left;
	width: 200px;
	margin: 0px 10px 5px 0px;
	padding: 5px; /* this creates black border */
	font-size: 10px;
	text-align:center;
	background-color:#000000;
}

.rightFloatingMovie {
	position:relative;
	float:right;
	width: 322px;
	margin: 0px 0px 0px 15px;
	padding: 5px; /* this creates black border */
	font-size: 10px;
	text-align:center;
	background-color:#000000;
}

.leftFloatingMovie {
	position:relative;
	float:left;
	width: 322px;
	margin: 0px 15px 0px 0px;
	padding: 5px; /* this creates black border */
	font-size: 10px;
	text-align:center;
	background-color:#000000;
}

.movie {
	position:relative;
	width: 300px;
	margin: 0px 15px 0px 0px;
	padding: 5px; /* this creates black border */
	font-size: 10px;
	text-align:center;
	background-color:#000000;
}

.flash7 {
	font-size: 9px;
	color:#666666;
}

.photo {
	position:relative;
	width: 200px;
	margin: 20px 5px 0px 10px;
	padding: 5px; /* this creates black border */
	font-size: 10px;
	text-align:center;
	background-color:#000000;
}

p#caption {
	margin-top: 0px;
	margin-bottom: 7px;
	font-size: 10px;
	text-align:left;
	color: #E0E0E0;
	line-height: 1.1em; 
}

p#caption1 {
	margin-top: 2px;
	margin-bottom: 0px;
	font-size: 10px;
	text-align:left;
	color: #E0E0E0;
	line-height: 1.1em; 
}

p#no_caption {
	margin-top: 0px;
	margin-bottom: -9px;
	color: #E0E0E0;
}

a {
	text-decoration:none;
	font-weight: bold;
	color:#003366; /* dk blue */
}

a:hover {
	text-decoration:underline;
	color:#8A181A; /* dk red */
}

a.msg {
	text-decoration:underline;
	font-weight: normal;
	color: #CCCCFF; /* lt blue */
}
a.msg:hover {
	color: #FFFF99; /* yellow */
}

a.fred {
	text-decoration:none;
	font-weight: normal;
	color: black; 
}
a.fred:hover {
	color:#8A181A; /* dk red */
	text-decoration:underline;
}

a.pdf {
	text-decoration:none;
	font-weight: normal;
	font-size:10px;
	color: black; 
}
a.pdf:hover {
	color:#8A181A; /* dk red */
	text-decoration:underline;
}

